body,
html {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  z-index: 100;
}

* {
  font-family: 'Montserrat';
  line-height: 160%;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 18px
}

.logo img {
  height: 40px;
  width: auto;
}

/* --- Burger Button --- */
.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 17.58px;
  position: relative;
  z-index: 110;
  padding: 0;
}

.burger-line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #DD71C6;
  border-radius: 2px;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

.burger-line:nth-child(1) {
  top: 0;
}

.burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

.burger-btn[aria-expanded="true"] .burger-line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger-btn[aria-expanded="true"] .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-btn[aria-expanded="true"] .burger-line:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* --- nav menu --- */
.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  max-width: 320px;
  height: 100vh;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 105;
  padding: 5rem 2rem 2rem;
  background-color: wheat;
}

.nav-menu.show {
  right: 0;
}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
}

.nav-menu a {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.hero .text-hero .short-description {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 30px;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto
}

.hero .text-hero {
  max-width: 281px;
}

.hero .text-hero .spots-text {
  font-size: 12px;
  font-weight: 400;
  font-style: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 19px;
}

.outstanding-purple {
  color: #DD71C6;
}

.hero .countdown-card p {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

}

.hero .countdown-card {
  width: 281px;
  height: auto;
  border-radius: 30px;


  padding: 26px 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: linear-gradient(rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.49));


  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);

}

.hero .countdown-card .time-remaining {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero .countdown-card .time-remaining .label {
  color: #0083D3;
  font-size: 8px;
  font-weight: 500;
}

.hero .countdown-card .time-remaining .number {
  font-weight: 500;
  font-size: 18px;

}

.hero .countdown-card .time-remaining .time-block {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.yellow-shape {
  position: absolute;
  top: 0;
  /* ajustá: dónde arranca verticalmente, debajo del header */
  right: -50%;
  /* la hace "sangrar" fuera del borde derecho */
  width: 100%;
  /* ancho de la forma */
  height: 100%;
  background-color: #FFC700;
  /* el amarillo */
  border-radius: 60px 0 0 0;
  /* solo redondea la esquina superior-izquierda */
  z-index: -1;
  /* la manda detrás de .hero */
}

.hero {
  padding-bottom: 42px;
}

.limited-spots-mobile p {
  font-weight: 400;
  font-size: 16px;
  max-width: 281px;
  text-align: left;
  /*p already has a margin of 16*/
  margin-top: 13px;
}

.book-button-mobile {
  display: flex;
  align-items: center;
  background-color: rgba(221, 113, 198, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 10px 14px;
  font-size: 16px;
  width: 215px;
  height: 40px;
  margin-top: 28px;
  font-weight: 600;
}

.limited-spots-desktop {
  display: none;
}

section.experience {
  background-color: rgba(221, 113, 198, 1);
  height: 508px;
}

section.experience .cards {
  display: grid;
  position: relative;
  justify-items: center;
  z-index: 1;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
  column-gap: 13px;
  align-items: center;
  text-align: center;
  padding: 51px 47px 0px 47px;
}

section.experience .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 134px;
  height: 157px;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 1);
  text-align: center;
}

section.experience .card .icon {
  width: 24px;
  height: 24px;
}

section.experience .card .exp-number {
  font-size: 18px;
  font-weight: 500;

}

section.experience .card .plus {
  color: rgba(196, 196, 196, 1);
  font-size: 16px;
  font-weight: 500;
}

section.experience .card .exp-text {
  font-size: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  max-width: 123px;


}

section.experience .yellow {
  background-color: rgba(255, 217, 0, 1);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1026px;
  background-color: rgba(115, 195, 244, 1);
  padding-top: 32px;

}

section.clients .clients-div {
  max-width: 281px;

}

.subtitle {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 400;
  font-family: 'Libre Baskerville';
}

section.clients p {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

section.clients h3 {
  margin-top: 42px;
}

section.clients img {
  width: 322px;
  height: auto;
}

section.clients .img-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 53px;
}

section.clients h3 {
  margin-bottom: 23px;
}

.black {
  color: rgba(51, 51, 51, 1);
}

section.doctors {
  height: 1286px;
}

section.doctors div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

section.doctors .subtitle {
  margin-left: 47px;
  margin-bottom: 22px;
}

section.doctors div p {
  margin-right: 47px;
  margin-left: 47px;
}

section.doctors img {
  width: 100%;
  height: auto;
  margin-top: 43px;
  margin-bottom: 62px;
}

section.doctors .btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.doctors button {
  text-align: center;
  justify-content: center;
}

.desktop {
  display: none;
}

section.doctors .book-button-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .burger-btn {
    display: none;
  }



  .nav-menu {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0;
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }

  .nav-menu ul {
    flex-direction: row;
    gap: 36px;
    list-style-type: none;
  }

  .logo img {
    height: 62px;
    width: 138px;
  }

  .summary {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    gap: 74px;
    margin-top: 147px;
  }

  .hero,
  .page-wrapper {
    height: 760px;
  }

  .hero .text-hero {
    max-width: 100%;
  }

  .hero .text-hero .short-description {
    max-width: 437px;
    font-size: 45px;
    text-align: left;
  }

  .hero .text-hero .spots-text {
    display: none;
    padding: 19px;
  }

  .hero .countdown-card {
    justify-content: center;
    align-items: center;
    width: 629px;
    height: 321px;
    column-gap: 200px;
    border-radius: 50px;
  }

  .hero .countdown-card p {
    font-size: 18px;
    font-weight: 400;
  }

  .hero .countdown-card .time-remaining {
    gap: 15px;
  }

  .hero .time-block {
    margin-right: 39px;
  }

  .hero .countdown-card .time-remaining .time-block .label {
    font-size: 18px;
    font-weight: 500;
  }

  .hero .countdown-card .time-remaining .time-block .number {
    font-size: 50px;
    font-weight: 500;
    margin-top: 36px;
  }

  .limited-spots-mobile {
    display: none;
  }


  .limited-spots-desktop {
    display: block;
    max-width: 459px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }

  .book-button-desktop {
    width: 215px;
    height: 40px;
    background-color: rgba(221, 113, 198, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
  }

  .yellow-shape {
    /*50% is hidden*/
    width: 1180px;
    height: 760px;
  }

  section.experience .cards {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-top: 99px;
  }

  section.experience {
    height: 570px;
  }

  section.experience .card {
    width: 249px;
    height: 264px;
  }

  section.experience button {
    margin-top: 68px
  }

  section.clients {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    /*padding of 32px - 799 in total*/
    height: 767px;

  }

  section.clients .btn-wrapper {
    display: block;
  }

  section.clients button {
    margin-top: 7px;
  }

  section.clients .img-wrapper {
    width: 100%;
    max-width: 549px;
  }

  section.clients .img-wrapper img {
    max-width: 549px;
    width: 549px;
    height: auto;

  }

  section.clients .col1 {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  section.clients .clients-div {
    max-width: 491px;
  }

  section.clients .clients-div p {
    max-width: 403px;
    font-size: 16px;
  }

  .subtitle {
    font-size: 32px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
  section.doctors{
    height: 794px;
  }

  section.doctors div {
    align-items: center;
    text-align: center;
  }

  section.doctors .book-button-mobile {
    display: none;

  }

  section.doctors .book-button-desktop {
    display: flex;
    align-items: center;
    margin-top: 34px;
  }
  section.doctors p{
    max-width: 1140px;
    margin-top: 20px;
    margin-bottom: 5px;
    
  }
  section.doctors .subtitle{
    margin-bottom: 0;
  }
  section.doctors img{
    margin-top: 46.07px;
    margin-bottom: 0;
  }




}

@media(min-width:820px) {
  /* TODO */
}